name: Snyk Security Scan

on:
  push:
    branches: ["**"]
  workflow_dispatch: {}

jobs:
  snyk:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Use Node from .nvmrc
        uses: actions/setup-node@v4
        with:
          node-version-file: ".nvmrc"

      - name: Install Snyk
        if: ${{ secrets.SNYK_TOKEN != '' }}
        uses: snyk/actions/setup@v1

      - name: Install dependencies
        if: ${{ secrets.SNYK_TOKEN != '' }}
        run: npm ci

      - name: Run Snyk test
        if: ${{ secrets.SNYK_TOKEN != '' }}
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        run: snyk test --all-projects
